@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pinzelan";
  src: url("./fonts/pinzelan.regular.ttf");
}

p, li, div {
  font-family: 'pinzelan';
}

body {
  background-repeat: no-repeat;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.underline:hover::before {
  width: 100%;
}